body{
    display: flex;
    flex-direction: column property;
}
main{
    display: flex;
    flex-direction: row property;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
    
}
aside{
    flex: 1;
    overflow-y: auto;
}

